body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid crimson;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* ============================ New Styling ============================ */
.frameHour {
  width: 80%;
  height: 5em;
  margin: 2px;
}

.timeHour,
.timeEdit {
  border-top: #2a5559 dashed 2px;
  width: 10%;
  max-width: 100px;
  text-align: center;
  line-height: 2em;
  font-size: 1.7em;
}

.timePlans {
  border: #2a5559 dashed 2px;
  width: 80%;
}

.timeEdit {
  background-color: #2a5559;
  color: white;
}

.timeEdit:hover {
  cursor: pointer;
}

.jumbotron {
  background-color: #2a5559;
}

/* ============================ Classes for time slot feedback ============================ */
.past {
  background-color: #f0e6e6;
  color: rgb(114, 107, 107);
}

.present {
  background-color: crimson;
  color: white;
}

.future {
  background-color: #bde4bd;
  color: black;
}

/* ============================ Button ============================ */
.btn {
  max-width: 200px;
  margin: 2em;
  background-color: crimson;
}
