body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid crimson;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* ============================ New Styling ============================ */
.frameHour {
  width: 80%;
  height: 5em;
  margin: 2px;
}

.timeHour,
.timeEdit {
  border-top: #2a5559 dashed 2px;
  width: 10%;
  max-width: 100px;
  text-align: center;
  line-height: 2em;
  font-size: 2em;
}

.timePlans {
  border: #2a5559 dashed 2px;
  width: 80%;
}

.timeEdit {
  background-color: #2a5559;
  color: white;
}

.timeEdit:hover {
  cursor: pointer;
}

.jumbotron {
  background-color: #2a5559;
}

/* ============================ Classes for time slot feedback ============================ */
.past {
  background-color: #f0e6e6;
  color: rgb(114, 107, 107);

}

.present {
  background-color: crimson;
  color: white
}

.future {
  background-color: #bde4bd;
  color: black;
}
